@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: local('Rubik'),
    url('../fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  src: local('Rubik'),
    url('../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}
